{% extends 'base.html.twig' %}

{% block title %}Hello VoteController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Hello {{ user.name }}! ✅</h1>
    <h2>Bienvenue aux vote en ligne pour {{event.description}} </h2>

Vous avez {{ factor }} voies. 

{% if proposals is not null %}
<ul>
{% for p in proposals %}
    <li>{{ p.name }} <a href="/vote/{{uuid}}/1/{{ p.id }}/positive">pour</a> <a href="/vote/{{uuid}}/1/{{ p.id }}/negative">contre</a> <a href="/vote/{{uuid}}/1/{{ p.id }}/abstention">abstention</a></li>
{% endfor %}
</ul>
{% endif %}

</div>
{% endblock %}
