{% extends 'base.html.twig' %}

{% block title %}Hello CreateVoteController!{% endblock %}

{% block body %}


<div class="example-wrapper">

    <h1><a href="/param-vote/{{uuid}}">{{ event.name }}</a></h1>

</div>
<div>
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{{ form_start(form) }}
{{ form_row(form.name, {'label': 'Votre nouvelle proposition (mode de réponse : pour / contre / abstention) :'}) }}
{{ form_end(form) }}

{% if proposalss is not null %}
<h2>Propositions déjà enregistrées :</h2>
<ul>
{% for p in proposalss %}
    <li>{{ p.name }} - <a href="/delete-proposal/{{ uuid }}/{{ p.id }}">Supprimer</a></li>
{% endfor %}
</ul>
{% endif %}

</div>
{% endblock %}
