{% extends 'base.html.twig' %}

{% block title %}Hello CreateVoteController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Hello {{ event.name }}  ! ✅</h1>

{{ event.mail }}

{{ form_start(form) }}
        {{ form_errors(form) }}

{{ form_end(form) }}

</div>
{% endblock %}
