{% extends 'base.html.twig' %}

{% block title %}Gestion d'une campagne de vote{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>{{ event.name }}</h1>
    <h2>{{ event.description }}</h2>

<a class="btn btn-success" href="/param-users/{{ uuid }}">Ajouter un votant</a>
<a class="btn btn-success" href="/param-proposals/{{ uuid }}">Ajouter une proposition</a>
<a class="btn btn-primary" href="/results/{{ uuid }}">Résultats</a>

</div>
{% endblock %}
