{% extends 'base.html.twig' %}

{% block title %}Hello CreateVoteController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1><a href="/param-vote/{{uuid}}">Hello {{ event.name }}  ! ✅</a></h1>

{{ event.mail }}

{{ form_start(form) }}
        {{ form_errors(form) }}

{{ form_end(form) }}

{% if proposalss is not null %}
<ul>
{% for p in proposalss %}
    <li>{{ p.name }}</li>
{% endfor %}
</ul>
{% endif %}

</div>
{% endblock %}
